/* HEADER FIJO */
#barranavegacion {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    padding: 1em;
    color: #fff;
}

#barranavegacion h1 {
    color: orange;
    font-size: 1.8rem;
    text-shadow: 2px 2px 2px #000;
    font-family: 'Dancing Script', cursive;
}

#barranavegacion ul {
    display: flex;
}

#barranavegacion ul li {
    list-style: none;
    padding: 3px 15px;
}

#barranavegacion ul li:hover {
    background: orangered;
    cursor: pointer;
}

#barranavegacion ul li a {
    text-decoration: none;
    color: #fff;
}

#barranavegacion_celular {
    display: none;
    height: 40px;
    line-height: 40px;
    background-color: rgba(0, 0, 0, 0.8);
}

#barranavegacion_celular ul {
    display: flex;
    justify-content: center;
}

#barranavegacion_celular ul li {
    list-style: none;
    padding: 0 5px;
}

#barranavegacion_celular ul li a {
    text-decoration: none;
    color: #fff;
}

@media screen and (max-width: 768px) {
    #barranavegacion_celular {
        display: block;
    }
    #barranavegacion ul {
        display: none;
    }
}

@media screen and (max-width: 360px) {
    html {
        font-size: 70%;
    }
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    position: relative;
    font-family: 'Edu VIC WA NT Beginner', cursive;
}

main {
    padding: 16px;
}

/* estilos para el contenedor de comida */
#comida-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

/* estilos para las tarjetas de producto */
.tarjeta-producto {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 200px;
    text-align: center;
    padding: 16px;
    background-color: #fff;
}

.tarjeta-producto img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 8px;
}

.tarjeta-producto .precio {
    font-weight: bold;
}

.tarjeta-producto button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 8px;
}

.tarjeta-producto button:hover {
    background-color: #0056b3;
}
